@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800');
$title: 'Montserrat', sans-serif;

.icons {
  display: flex;
  justify-content: center;

  i {
    margin: 16px;
    color: rgba(173, 94, 184, 0.3);
    transition: 0.2s all;

    &:hover {
      color: $main-purple;
      cursor: pointer;
    }
  }

  a {
    &:hover {
      &:before, &:after {
        display: none;
      }
    }
  }
}

#menu {
  box-sizing: border-box;
  height: auto;
  padding-bottom: 7px;
  position: fixed;
  z-index: 100;
  background-color: $main-purple;

  li {
    font-family: $title;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    position: relative;

    a {
      color: rgba(255,255,255,0.3);
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        color: white;

        &:before, &:after {
          display: none;
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 4px;
      background-color: $main-purple;
      bottom: 1px;
      left: 50%;
      transform: rotate(45deg);
      transition: all 0.3s;
    }
  }

  li.active {
    position: relative;

    a {
      color: white;
    }


    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      background-color: $main-purple;
      bottom: -15px;
      left: 50%;
      transform: rotate(45deg);
    }
  }
}

#landing0, #slackr0, #toastycss0, #about0, #contact0 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#landing0 {
  background-color: $main-purple;

  svg {
    position: absolute;
    fill: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes arrow_nudge {
  from { bottom: 16px; }
  to { bottom: 20px; }
}

.arrow {
  position: absolute;
  box-sizing: border-box;
  border-bottom: 15px solid white;
  border-right: 15px solid white;
  width: 35px;
  height: 35px;
  transform: translate(-50%, 0);
  transform: rotate(45deg);
  bottom: 15px;
  left: 50%;
  opacity: 0.3;
  transition: all 0.6s;
  animation: 0.6s ease-in-out 0s infinite alternate arrow_nudge;

}

section {
  position: relative;
  padding-top: 72px;
  padding-left: 64px;
  padding-right: 64px;
  overflow: hidden;
  background-color: white;
  z-index: -2;

  img {
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    width: auto;
    left: 0;
    top: 0;
    filter: blur(4px);
    opacity: 0.3;
  }

  div.row {
    height: auto;
    justify-content: center;

    h2 {
      padding: 0;
      margin: 0;
      font-family: $title;
      font-weight: 600;
      color: $main-purple;
    }
  }
}

#about0 {
  .photo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-image: url(../docs/me.jpg);
    top: 50%;
    left: 50%;
    background-size: cover;
    background-position: center;
  }
}

.content {
  background-color: rgba(255,255,255,0.9);
  padding: 64px;
  border-radius: 32px;
  position: relative;
  top: 10%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: rgba(255,255,255,0.97);
    border-bottom: 1px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

@media (max-width: 990px) {
  .row {
    flex-wrap: wrap;
  }

  .grid-demo, .black {
    width: 90%
  }

  .row.fixed, nav.row {
    flex-wrap: nowrap;

    .col-1-1, .col-2-2, .col-4-4, .col-8-8 {
      flex: 1 1 100%;
    }

    .col-7-8 {
      flex: 1 1 87.5%;
    }

    .col-3-4, .col-6-8 {
      flex: 1 1 75%;
    }

    .col-5-8 {
      flex: 1 1 62.5%;
    }

    .col-1-2, .col-2-4, .col-4-8 {
      flex: 1 1 50%;
    }

    .col-3-8 {
      flex: 1 1 37.5%;
    }

    .col-1-4, .col-2-8 {
      flex: 1 1 25%;
    }

    .col-1-8 {
      flex: 1 1 12.5%;
    }
  }

  .col {
    flex: 0 0 100%;
  }

  #grid {
    order: 1;
    height: 300px;
  }

  #grid-content {
    order: 2;
  }

  #components {
    order: 3;
    height: 300px;
  }

  #components-content {
    order: 4;
  }

  #typography {
    order: 5;
    height: 300px;
  }

  #typography-content {
    order: 6;
  }

  #customization {
    order: 7;
    height: 300px;
  }

  #customization-content {
    order: 8;
  }

  .stickit, .stickit-end {
    display: none;
  }
}
