
$white: #FFF;
$lighter-gray: #CCC;
$light-gray: #999;
$gray: #666;
$dark-gray: #333;
$black: #000;

$main-purple: rgba(173, 94, 184, 1);
$design-green: #46AB8F;
$design-tan: #DEB385;
$fashion-black: #000000;

$cell-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.2),
              0 3px 5px rgba(0,0,0,.1),
              0 5px 10px rgba(0,0,0,.15),
              0 10px 10px rgba(0,0,0,.1),
              0 20px 20px rgba(0,0,0,.05);

$purple-shadow: 0 1px 0 rgba(132, 53, 143, 1),
                0 2px 0 rgba(129, 50, 140, 1),
                0 3px 0 rgba(125, 46, 136, 1),
                0 4px 0 rgba(121, 42, 132, 1),
                0 5px 0 rgba(117, 38, 128, 1),
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);

$purple-shadow-angle: 1px 1px 0 rgba(132, 53, 143, 1),
                2px 2px 0 rgba(129, 50, 140, 1),
                3px 3px 0 rgba(125, 46, 136, 1),
                4px 4px 0 rgba(121, 42, 132, 1),
                5px 5px 0 rgba(117, 38, 128, 1),
                6px 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                1px 1px 3px rgba(0,0,0,.3),
                3px 3px 5px rgba(0,0,0,.2),
                5px 5px 10px rgba(0,0,0,.25),
                10px 10px 10px rgba(0,0,0,.2),
                20px 20px 20px rgba(0,0,0,.15);
